@font-face {
  font-family: "Platipy";
  src: url("../assets/fonts/Platypi.woff2") format("woff2");
}

@font-face {
  font-family: "Host";
  src: url("../assets/fonts/BDLifelessGrotesk_Variable.woff2") format("woff2");
}

.title-face {
  font-family: "Platipy", serif;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.gap05 {
  gap: 0.5rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.btn {
  border: 2px solid transparent;
  border-radius: 8px;
}

.btn-primary {
  border: none;

  background: linear-gradient(
    90deg,
    var(--clr-primary-600) 0%,
    var(--clr-primary) 100%
  );
  color: white;
  transition: all 400ms;
}

.btn-primary.btn-important {
  background: var(--clr-secondary);
}

.btn-regular {
  font-size: 1.1rem;
  padding: 0.5em 1em;
  font-weight: 600;
}

.btn-xl {
  font-size: 1.7rem;
  padding: 0.5em 2em;
}

.btn-secondary {
  border: none;
  color: white;
  background: var(--clr-gray-600);
}
